.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--neutral-0);
  height: 100dvh;
}

.wrapper {
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  height: 100dvh;
  transition:
    grid-template-columns 300ms var(--ease-out),
    transform 300ms var(--ease-out);
  overflow: hidden;
}

.sidebar {
  width: var(--sidebar-w);

  position: sticky;
  align-self: start;
  top: 0;
  height: 100dvh;

  z-index: 1;

  transition:
    width 0.3s var(--ease-out),
    max-width 0.3s var(--ease-out);
}

/* 컨텐츠 오른쪽 */
/* 메인 */
.main {
  height: 100%;

  background-color: var(--neutral-0);
  position: relative;

  overflow: auto;
  overflow-x: auto;
}

.main:has(.loading-lock) {
  overflow-x: hidden;
}

.contents {
  height: calc(100% - 50px);
  max-width: 1000px;
  min-width: 1000px;

  margin: 0 auto;
  padding: 30px 36px 0px 36px;

  transition:
    min-width 0.2s var(--ease-out),
    max-width 0.2s var(--ease-out),
    margin 0.2s var(--ease-out),
    padding 0.2s var(--ease-out);
}

.header {
  position: sticky;
  left: 0;
  top: 0;

  height: 50px;
  width: 100%;
  z-index: 20;

  background-color: var(--neutral-0);
}

.wrapper,
.sidebar,
.main {
  will-change: transform, width, grid-template-columns, backdrop-filter;
  transform: translateZ(0);
}

html[data-sidebar-size='mini'] .contents {
  max-width: 1200px;
  min-width: 1200px;
}

html[data-sidebar-size='mini'] .sidebar {
  max-width: var(--min-sidebar-w);
}

html[data-sidebar-size='expanded'] .sidebar {
  max-width: var(--max-sidebar-w);
}
