.container {
  display: flex;
  flex-direction: column;

  color: white;
  position: relative;
}

.webcamContainer {
  position: relative;
}

.hiddenVideo {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}

.drawCanvas {
  position: relative;
}

.overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
