/* 컨테이너 */
/* ========================================== */
.main {
  display: flex;
  flex-direction: column;
}

.main section {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 15px;
}

/* 공용 */
/* ========================================== */
.stepText {
  font-size: 15px;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: 800;
  color: var(--color-text);
  margin-bottom: 15px;
}

.desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: var(--neutral-7);
}

/* divider */
/* ========================================== */
.divider {
  display: flex;
  align-items: center;
  gap: 12px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1 1 0;
  height: 1px;
  background-color: var(--neutral-3);
}

.divider > span {
  font-size: 12px;
  color: var(--neutral-5);
  padding: 4px 4px;

  background-color: var(--neutral-0);

  line-height: 1;
}

/* 파일업로드 */
/* ========================================== */
.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border-radius: 18px;
  border: 1px dashed var(--color-border);
  outline: none;
  background-color: white;
  cursor: pointer;
  transition:
    background 0.18s ease,
    border 0.18s ease,
    outline 0.18s ease;
}

.uploader .title {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 10px;
}

.uploader .desc {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-muted);
  line-height: 150%;
}

.uploadIcon {
  width: 70px;
  height: 70px;

  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadUpIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  bottom: 0px;
  right: 0px;
}

.uploadItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  border-radius: 16px;
  border: 1px solid var(--neutral-3);
  padding: 18px 18px;

  background-color: white;
  row-gap: 12px;
  position: relative;
}

/* 파일업로드 아이템 */
/* ========================================== */
.itemTop {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.itemBar {
  height: 6px;
  background-color: var(--neutral-2);
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 12px;
  left: -100%;
}

.itemText {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 35px;
  height: 35px;
  background-color: white;
  box-shadow: var(--shadow-md);
  margin-left: 2px;
}

.itemName {
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  color: var(--color-text);
}

.itemDesc {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-muted);
}

.itemRemoveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
  box-shadow: var(--shadow-sm);
  position: absolute;
  right: 18px;
  top: 18px;
  border: 1px solid var(--neutral-3);
}

/* textinput  */
/* ========================================== */
.textInput {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  border-radius: 15px;
  border: 1px solid var(--neutral-3);
  background-color: var(--neutral-0);
  padding: 15px;

  box-shadow: var(--shadow-sm);
}

.textLength {
  font-size: 12px;

  color: var(--neutral-5);
  margin-right: 1px;
}

.textInput textarea {
  width: 100%;
  height: calc(100% - 10px);
  border: none;
  resize: none;
  outline: none;
  line-height: 130%;
  font-size: 14px;
}

.textInput textarea::placeholder {
  line-height: 150%;
}

/* 필요할 경우 (파일업로드 title) */
.contentTitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 8px;
}

.contentDesc {
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  color: var(--neutral-5);
}

/* hover */
.uploaderDragging {
  border: 1px solid var(--primary);
  background: color-mix(in srgb, var(--primary) 3%, white 80%);
  outline-offset: 1px;
  outline: 3px solid color-mix(in srgb, var(--primary) 20%, white 50%);

  transition:
    background 0.18s ease,
    border 0.18s ease,
    outline 0.18s ease;
}

/* 아이콘 스피너 */
.spinner {
  position: absolute;
  right: 18px;
  top: 18px;
  width: 25px;
  height: 25px;
  animation: ihistory-spin 0.9s linear infinite;
  stroke: var(--neutral-4);
}

@keyframes ihistory-spin {
  to {
    transform: rotate(360deg);
  }
}
