.bottom {
  width: calc(100% - 12px);
  position: sticky;
  bottom: 0;
  left: 6px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.item {
  width: 100%;
  height: calc(100% - 16px);
}

.bottomWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 12px;

  text-align: left;
  padding: 0 10px;
  border-radius: 10px;
  transition: background-color 0.12s;
  overflow: hidden;
}

.bottomWrapper:hover {
  background-color: color-mix(in srgb, var(--neutral-6) 9%, transparent 90%);
}

html[data-sidebar-size='mini'] .bottomWrapper:hover {
  background-color: color-mix(in srgb, var(--neutral-6) 8%, transparent 90%);
}

.profile {
  display: grid;
  place-items: center;
  background-color: color-mix(in srgb, var(--primary) 15%, white 12%);
  border-radius: 50%;
  overflow: hidden;

  width: 28px;
  height: 28px;
}

.profile svg {
  stroke: var(--primary);
  margin-top: 6px;
  stroke-width: 1.5px;
}

.user {
  min-width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;

  max-width: 230px;
}

.name,
.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: var(--neutral-7);
}

.email {
  font-size: 10px;
  color: var(--neutral-5);
}
