.sidebar {
  height: 100%;
  overflow: hidden;
  position: relative;

  background-color: var(--neutral-1);
}

.dark {
  background-color: rgba(0, 0, 0, 0.4);
}

html[data-sidebar-size='mini'] .sidebar:not(.dark) {
  background-color: var(--neutral-0);
}
