.steps {
  background-color: var(--neutral-1);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.dark {
  background-color: var(--color-dark-bg);
}

html[data-sidebar-size='mini'] .steps:not(.dark) {
  background-color: var(--neutral-0);
}
