.top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0px 0px 0px 17px;
  position: relative;
  background: none;
  z-index: 10;
}

.top svg {
  max-width: 70px;
  max-height: 20px;

  user-select: none;

  opacity: 1;
  transition: opacity 1s;

  color: var(--neutral-5) !important;
  z-index: -1;
}

/* 사이드바 버튼 */
.toggleButton {
  position: absolute;

  right: 6px;

  width: 35px;
  height: 35px;

  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 7px;

  transition: background 0.12s;
}

.toggleButton:hover {
  background: color-mix(in srgb, var(--neutral-6) 9%, transparent 90%);
}

html[data-sidebar-size='mini'] .top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

html[data-sidebar-size='mini'] .toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0;
  width: 47px;
  height: 41px;
}

html[data-sidebar-size='mini'] .top svg:not(.toggleButton svg) {
  opacity: 0;
  inline-size: 0;
  color: red;
}

html[data-sidebar-size='mini'] .toggleButton:hover {
  background-color: color-mix(in srgb, var(--neutral-6) 8%, transparent 90%);
  border-radius: 10px;
}
