.contents {
  width: 100%;
  height: 800px;

  background-color: black;

  margin: 0 auto;
  padding: 0 26px;
  position: relative;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardSection {
  margin-top: 110px;
}

.cardSection * .title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;

  color: black;
  margin-bottom: 30px;
}

.cardSection * .desc {
  text-align: center;
  font-size: 42px;
  font-weight: 700;

  color: black;
  margin-bottom: 60px;
}

.carousel {
  width: 100%;

  max-width: 800px;
  aspect-ratio: 16 / 9.5;

  background-color: white;
  border-radius: 11px;
  position: relative;
  overflow: hidden;
}

.track {
  height: 100%;
  display: flex;
  will-change: transform;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
}
