/* hero */
/* ================================ */

.heroSection {
  position: relative;
  overflow: hidden;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;

  width: 1300px;
  height: 100%;

  padding: 0px 30px 0px 30px;
  column-gap: 85px;
}

.leftWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.rightWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.buttonWrapper {
  margin-top: 50px;
  z-index: 10;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  font-size: 14px;
  font-weight: 800;
  transition: all 0.2s ease;
  border-radius: 999px;
  height: 44px;
  padding: 10px 50px;
  outline: none;

  background: radial-gradient(
      50% 145.349% at 50% -46.7%,
      rgb(40, 36, 50) 0%,
      rgb(34, 34, 34) 100%
    )
    rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.95);

  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 1px 1px,
    rgba(0, 0, 0, 0.16) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.16) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0) 0px 16px 16px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 1px 0px inset;
}

.button:hover {
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 1px 1px,
    rgba(0, 0, 0, 0.16) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.16) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.08) 0px 16px 16px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 1px 0px inset;
}

.leftWrapper h1,
.leftWrapper h2 {
  color: var(--neutral-6);
  font-size: 25px;

  font-weight: 700;
  text-wrap: balance;
  text-align: left;
}

.leftWrapper h1 {
  color: var(--neutral-8);
  background: none;

  font-size: 58px;
  font-weight: 800;
  z-index: 10;
  margin-top: 3px;
  margin-left: -4px;
}

.brushWrapper {
  color: var(--primary-8);
  position: relative;
  display: inline-block;
}

.brushWrapper::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  height: 10px;

  background: color-mix(in srgb, var(--primary) 80%, transparent 80%);
  border-radius: 3px;

  opacity: 0.8;
  z-index: -1;
}

.leftWrapper p {
  color: color-mix(in oklab, black 70%, transparent);
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  z-index: 10;
}

.poweredBy {
  display: flex;
  align-items: center;
  background-color: var(--neutral-2);
  border-radius: 999px;
  padding: 4px;
  height: 32px;
  margin-bottom: 40px;
  width: fit-content;
}

.poweredBy .icon {
  width: 24px;

  aspect-ratio: 1/1;
  margin-left: 10px;
  background-color: var(--neutral-0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

.poweredBy .icon svg {
  width: 20px;
  height: 20px;
}

.poweredBy span {
  font-size: 13px;
  font-weight: 400;
  color: var(--neutral-7);
  margin-left: 15px;
}

/* 어떤 직군이든 */
.smallText {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-5);
  text-align: center;
  margin-bottom: 12px;
}

.jobRole {
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  color: color-mix(in srgb, var(--primary) 80%, blue 20%);
}

.cursor {
  display: inline-block;
  width: 5px;
  height: 48px;
  background-color: color-mix(in srgb, var(--primary) 80%, blue 20%);
  margin-left: 12px;
  animation: blink 0.8s infinite;
  vertical-align: text-bottom;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*  */

.cardViewPort {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 380px;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.cardViewPort::before,
.cardViewPort::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none;
  z-index: 2;
}

.cardViewPort::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--neutral-0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cardViewPort::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    var(--neutral-0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cardTrack {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px 25px 18px 25px;
  border-radius: 24px;
  background-color: var(--neutral-0);

  box-shadow: 0 6px 16px rgba(15, 23, 42, 0.06);
}

.itemHeader {
  margin-top: 3px;
  margin-bottom: 12px;
}

.itemBadge {
  background-color: var(--neutral-2);
  color: var(--neutral-6);
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 999px;
}

.questionText {
  color: var(--neutral-6);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
}

.whyText {
  color: var(--neutral-5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.45;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0px 20px;
}
