.contents {
  width: 100%;

  max-width: 1100px;

  margin: 0 auto;
  padding: 0 26px;
  position: relative;

  box-sizing: border-box;
}

.infoSection {
  padding-top: 200px;
  padding-bottom: 100px;
}

.infoContents {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.info {
  height: 380px;

  border-radius: 28px;
  padding: 40px 40px;
  box-shadow: var(--shadow-sm);
  position: relative;
  overflow: hidden;
  background: color-mix(in srgb, var(--primary) 8%, white 30%);

  padding: 50px 60px 0px 60px;

  display: flex;

  column-gap: 50px;
}

.infoImage {
  flex: 1;

  background: none;
  display: flex;
  align-items: flex-end;
}

.infoImage img {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.infoRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.infoBadge {
  width: fit-content;
  height: 36px;
  padding: 6px 16px;
  background-color: var(--neutral-8);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--neutral-0);
}

.info .bigText {
  margin-top: 20px;
}

.info .bigText p {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--neutral-8);
}

.info .smallText {
  font-size: 17px;
  line-height: 1.3;
  margin-top: 30px;
}
