.cardSection {
  margin-top: 110px;
}

.contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
  position: relative;
  box-sizing: border-box;

  display: flex;
}

.leftContents {
  height: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftContents p {
  color: var(--neutral-8);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}

.leftContents span {
  margin-top: 15px;
  font-weight: 500;
  font-size: 19px;
  color: var(--neutral-6);
  line-height: 1.3;
}

.rightContents {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper {
  position: absolute;
  inset: -10px;
  z-index: 0;
  overflow: hidden;
}

.videoWrapper video {
  width: 100%;
  height: 100%;

  object-fit: cover;

  background: none;

  filter: brightness(1.08) saturate(1.1);
}
