.container {
  height: 100dvh;
}

.topContainer {
  height: 85%;
  background: linear-gradient(180deg, transparent 60%, rgba(0, 82, 254, 0.15));
}

.welcomeText {
  text-align: center;
  font-size: 58px;
  font-weight: 800;
  padding: 0px 20px;
}

.welcomeTextContainer {
  padding-top: 150px;
}

.explainText {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--font-darkgray-color);
  line-height: 140%;
}

.explainTextContainer {
  margin-top: 13px;
  padding: 0px 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.buttonContainer button {
  width: 180px;
  height: 39px;
  background-color: var(--main-blue-color);
  color: white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 28px;

  transition: background-color 0.15s;
}

.buttonContainer button:hover {
  background-color: var(--main-blue-hover-color);
}

.highlight {
  color: var(--main-blue-color);
}

@media screen and (max-width: 600px) {
  .welcomeText {
    font-size: 38px;
  }

  .explainText {
    font-size: 15px;
  }

  .buttonContainer button {
    width: 150px;
    height: 35px;
    font-size: 14px;
  }
}
