.container {
  height: 100dvh;
}

.topContainer {
  height: 75%;
  background: linear-gradient(180deg, transparent 75%, rgba(0, 82, 254, 0.15));
}

.welcomeText {
  text-align: center;
  font-size: 58px;
  font-weight: 800;
  padding: 0px 20px;
}

.welcomeTextContainer {
  padding-top: 120px;
}

.explainText {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--font-darkgray-color);
  line-height: 140%;
}

.explainTextContainer {
  margin-top: 13px;
  padding: 0px 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.buttonContainer button {
  width: 180px;
  height: 39px;
  background-color: var(--main-blue-color);
  color: white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 28px;

  transition: background-color 0.15s;
}

.buttonContainer button:hover {
  background-color: var(--main-blue-hover-color);
}

.highlight {
  color: var(--main-blue-color);
}

@media screen and (max-width: 600px) {
  .topContainer {
    height: 60%;
    background: linear-gradient(
      180deg,
      transparent 70%,
      rgba(0, 82, 254, 0.15)
    );
  }

  .welcomeText {
    font-size: 38px;
  }

  .explainText {
    font-size: 15px;
  }

  .welcomeTextContainer {
    padding-top: 160px;
  }

  .buttonContainer {
    position: fixed;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
  }

  .buttonContainer button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 30px 90px;
  }
}
