.container {
  position: absolute;
  background-color: white;

  z-index: 10;
  bottom: -107px;

  border: 1px solid var(--border-main-color);
  width: 100%;

  border-radius: 7px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--border-main2-color);
  row-gap: 1px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  background-color: white;
  padding: 0px 10px;
}

.option svg {
  width: 11px;
  height: 11px;
  fill: var(--font-darkgray-color);
}

.option span {
  font-size: 12px;
  font-weight: 600;
  color: var(--font-darkgray-color);
}

.option:hover {
  background-color: var(--main-gray-hover-color);
}
