.bg {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 200;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderContents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 80px;
  height: 80px;
}

.loader svg {
  width: 100%;
  height: 100%;
  stroke: var(--neutral-3);
  animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
