.answer {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: white;
  border-radius: 12px;
  padding: 0px 15px;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.1s ease-in-out;
  margin-bottom: 10px;
}
.answer input {
  border: none;
  outline: none;
  flex: 1;
  height: 100%;
  font-size: 15px;
  background: none;
  cursor: auto;
}

.input {
  background-color: var(--bg-gray-color);
}

.buttonContainer {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.removeButton {
  display: flex;
  align-items: center;
  background-color: var(--bg-red-color);
  border-radius: 8px;
  height: 25px;
  padding: 0px 8px;
}

.removeButton:hover {
  backdrop-filter: brightness(0.97);
}

.removeButton span {
  color: var(--main-red-color);
  font-size: 12px;
  font-weight: 700;
  margin-left: 2px;
}

.removeButton svg {
  width: 13px;
  height: 13px;
  margin-top: 1px;
  fill: var(--main-red-color);
}
