.videoContainer {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-darkblue-color);
}

/* 거부시 컨테이너 */
.cameraDeniedContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cameraDeniedContainer span {
  font-size: 1.1rem;
  color: var(--font-darkgray-color);
  font-weight: 600;
  margin: 0.5rem 0;
}

.cameraDeniedContainer button {
  border-radius: 8px;
  background-color: var(--main-blue4-color);
  padding: 10px 17px;
  color: white;
  font-weight: 600;
  font-weight: 1rem;
  margin-top: 1rem;
}

/* ################ 카메라 요소 */
.cameraOverlayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-darkblue-color);
  opacity: 0.95;
  padding: 2rem;
  cursor: pointer;
}

.cameraOverlayContainer h2 {
  margin-bottom: 1rem;
  color: var(--font-gray-color);
}

.cameraOverlayContainer span {
  color: var(--font-darkgray-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 110%;
  margin: 0;
}

.bottomContainer {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 2rem;
}

.bottomTextContainer {
  width: 100%;
  height: 100%;
  background-color: var(--bg-darkblue-color);
  opacity: 0.9;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* circle */
.mask {
  width: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  mask-image: radial-gradient(circle at 50% 40%, transparent 25%, black 25%);
  -webkit-mask-image: radial-gradient(
    circle at 50% 40%,
    transparent 25%,
    black 25%
  );
  z-index: 1;
}

.progressCircle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.bg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 3;
}

.fg {
  fill: none;
  stroke: var(--main-green-color);
  stroke-width: 3;
}

/* list */
.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.listContainer:not(:last-child) {
  margin-bottom: 20px;
}

.listContainer .title {
  display: flex;
  justify-content: space-between;
  row-gap: 3px;
  position: relative;

  border-radius: 9px;
  background-color: white;
}

.listContainer .title p {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.listContainer .title span {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--font-black-color);
}

.listItemContainer {
  display: flex;
  flex-direction: column;

  row-gap: 15px;
  overflow: hidden;
}
