.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.leftContainer h1 {
  font-size: 44px;
  color: black;
}

.leftContainer p {
  font-size: 1.2rem;
  line-height: 130%;
  color: var(--font-gray2-color);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.leftContainer,
.rightContainer {
  min-width: 0;
}

.buttonContainer {
  width: 100%;
}

.buttonContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;

  border-radius: 12px;

  font-size: 1.05rem;
  font-weight: 600;
  color: white;

  background: var(--red-bg-gradient);
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
}

.buttonContainer button:not(:disabled):hover {
  box-shadow: var(--box-red-shadow);
}

.buttonContainer button:disabled {
  opacity: 0.5;
  pointer-events: none;
  box-shadow: var(--box-red-shadow);
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
