/* 왼쪽 로딩 */
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  row-gap: 20px;
}

/* circle */
.loadingCircleContainer {
  margin-bottom: 10px;
  position: relative;
}

.loadingCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: var(--bg-rose-color);
}

.circleItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 10px;
}

.rotatingCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--red-animation-gradient);
  background-clip: content-box;
}

.loadingContentsContainer {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
  width: 100%;
}

.loadingContentsContainer p {
  font-size: 1rem;
  text-align: center;
  color: var(--font-darkgray-color);
}

/* 상단 로딩 텍스트 */

.gradientText {
  font-size: 2rem;
  background: var(--red-animation-gradient);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: animation 1s linear infinite;
  text-align: center;
}

@keyframes animation {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

/* 프로그레스 바 */
.progressbarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.progressbarHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.progressbarHeaderContainer span {
  font-size: 0.9rem;
  color: var(--font-black2-color);
}

.progressbar {
  height: 10px;
  width: 100%;
  background-color: var(--bg-gray-color);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.bar {
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--red-rose-gradient);
}

/* timeLeft  */
.timeLeftContainer {
  display: flex;

  justify-content: center;
  align-items: center;

  column-gap: 8px;
  width: fit-content;
  height: 36px;
  background-color: var(--bg-gray2-color);
  padding: 0px 16px 0px 14px;
  border-radius: 20px;
}

.timeLeftContainer svg {
  stroke: var(--font-darkgray-color);
  margin-bottom: 1px;
}

.timeLeftContainer p {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--font-darkgray-color);
}

@media screen and (max-width: 1024px) {
  .loadingContainer {
    position: relative;
    top: 0;
  }

  .loadingContentsContainer {
    padding: 0;
  }
}
