.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 101;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 60rem;
  width: 100%;
  height: 85dvh;
  background-color: white;
  border-radius: 24px;
  padding: 1.8rem;
}

.modalTitleContainer {
  display: flex;
  column-gap: 1.2rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--bg-blue-color);
  flex-shrink: 0;
}

.titleTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 3px;
}

/* 인디케이터 */
.indicatorContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  border-radius: 20px;
  background-color: var(--bg-blue-color);
  padding: 0.5rem 1rem;
}

.indicator p {
  color: var(--font-blue-color);
  font-size: 0.9rem;
  font-weight: 600;
}

.line {
  height: 2px;
  width: 30px;
  background-color: var(--border-main-color);
  border-radius: 10px;
}

.cameraContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--bg-darkblue-color);
  border-radius: 18px;
  overflow: hidden;
}

/* 버튼 */
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  column-gap: 1rem;
}

.buttonContainer button {
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 12px;
  height: 100%;
  padding: 0 2rem;
  transition: all 0.15s;
}

.buttonContainer button:hover {
  filter: brightness(90%);
}

.default {
  background-color: white;
  border: 1px solid var(--border-main-color);
}

.blue {
  background-color: var(--main-blue4-color);
  color: white;
}

.helpButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.4rem;
}

.red {
  background-color: var(--bg-red-color);
  color: var(--font-red-color);
}

/* ############ help 컨텐츠 영역 */
.helpContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  row-gap: 2rem;
}

.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 1.3rem;
  border: 1px solid var(--border-main2-color);
}

.helpContainer section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.helpContainer section h3 {
  font-size: 1.3rem;
}

/* 2개씩 */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1.2rem;
}

.infoContainer ul li {
  font-size: 0.9rem;

  margin-left: 2px;
}

.infoContainer ul li:not(:first-child) {
  margin-top: 8px;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.text {
  font-size: 1.05rem;
  font-weight: 400;
}

/* 색깔 */
.blueInfo {
  background-color: var(--bg-blue-color);
  border: 1px solid var(--border-blue-color);
}

.blueInfo * {
  color: var(--font-blue-color);
}

.blueInfo .circle {
  background-color: var(--main-blue-color);
}

.redInfo {
  background-color: var(--bg-red-color);
  border: 1px solid var(--border-red-color);
}

.redInfo * {
  color: var(--font-red-color);
}

.yellowInfo {
  background-color: var(--bg-yellow-color);
  border: 1px solid var(--border-yellow-color);
}

.yellowInfo * {
  color: var(--font-yellow-color);
}

/* info item */
.infoItem {
  display: flex;
  align-items: center;
  column-gap: 12px;
  height: 25px;
}

.infoItem:not(:last-child) {
  margin-bottom: 10px;
}

/* info item 중 작은 친구 */
.smallInfo .infoItem {
  column-gap: 10px;
}

.smallInfo .infoItem:not(:last-child) {
  margin-bottom: 7px;
}

.smallInfo .title {
  font-size: 1.2rem;
}

.smallInfo .text {
  font-size: 0.95rem;
}

.smallInfo .circle {
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  margin-top: 1px;
}

.circle {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  font-size: 0.8rem;
  font-weight: 700;
  aspect-ratio: 1 / 1;
  height: 23px;
  flex-shrink: 0;
  background-color: var(--main-gray-color);
  color: white;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
