.stickyLeftContainer {
  position: sticky;
  top: 140px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* list */
.listContainer {
  display: flex;
  flex-direction: column;

  row-gap: 15px;
}

.listContainer:not(:last-child) {
  margin-bottom: 20px;
}

.listContainer .title {
  display: flex;
  justify-content: space-between;
  row-gap: 3px;
  position: relative;
  cursor: pointer;
  padding: 10px 12px;
  margin: -10px -12px;
  border-radius: 9px;
  background-color: white;
}

.listContainer .title::before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  z-index: 0;
}

.listContainer .title p {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.listContainer .title span {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--font-black-color);
}

.listItemContainer {
  display: flex;
  flex-direction: column;

  row-gap: 15px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .stickyLeftContainer {
    position: relative;
    top: 0;
  }
}
