.container {
  display: flex;
  column-gap: 80px;
  flex: 1;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  row-gap: 15px;
  height: 100%;
  flex: 1;
}

.leftContainer h1 {
  font-size: 44px;
  color: black;
}

.leftContainer p {
  font-size: 1.2rem;
  line-height: 130%;
  color: var(--font-gray2-color);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  flex: 1;
  position: relative;
  height: 100%;
}

.leftContainer,
.rightContainer {
  min-width: 0;
}

@media screen and (max-width: 1024px) {
  .container {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
