.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 7px;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 50px;
  background-color: var(--bg-black-color);
  gap: 12px;
}

.videoMark {
  width: 23px;
  height: 23px;
}

.microphoneMark {
  width: 21px;
  height: 21px;
  margin-right: 2px;
}

.checkMark {
  width: 18px;
  height: 18px;
  fill: var(--main-green-color);
  margin-bottom: 2px;
}

.xMark {
  width: 20px;
  height: 20px;
  fill: var(--main-red-color);
  margin-top: 1px;
  margin-right: 2px;
}
