.container {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1200px;
  height: 65px;
  background-color: white;

  border-radius: 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 98;
}

.contentsContainer {
  display: flex;
  width: calc(100% - 20px);
  height: calc(100% - 17px);
  margin: 0px 10px;
  column-gap: 10px;
}

.stepContainer {
  width: 100%;
  display: flex;
  column-gap: 10px;
}
