.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--border-main2-color);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.12s;
  row-gap: 3px;
}

.item:not(.select):hover {
  background-color: var(--bg-gray-color);
}

.item p {
  font-size: 14px;
  font-weight: 600;
}

.item span {
  font-size: 13px;
  font-weight: 500;
  color: var(--font-darkgray-color);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select {
  background-color: var(--bg-black-color);
  border: 1px solid var(--bg-black-color);
}

.select:hover {
  filter: brightness(120%);
}

.select p {
  color: white;
}

.select span {
  color: gray;
}
