.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--neutral-0);
  min-height: 100dvh;
}

.wrapper {
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  min-height: 100dvh;
  transition: grid-template-columns 0.3s var(--ease-out);
}

.sidebar {
  width: var(--sidebar-w);

  position: sticky;

  align-self: start;
  top: 0;
  height: 100dvh;

  z-index: 1;
  transition: width 0.3s var(--ease-out);
}

/* 컨텐츠 오른쪽 */
/* 메인 */
.main {
  min-height: 100dvh;
  background-color: var(--neutral-0);
  position: relative;
}

.header {
  position: sticky;
  left: 0;
  top: 0;

  height: 50px;
  width: 100%;
  z-index: 20;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(160%) blur(22px);
  -webkit-backdrop-filter: saturate(160%) blur(22px);

  will-change: backdrop-filter;
}

.contents,
.slideContents {
  height: calc(100% - 50px);
  max-width: 1000px;
  min-width: 1000px;
  margin: 0 auto;

  position: relative;

  box-sizing: border-box;
  overflow-x: clip;
  padding: 30px 36px 0px 36px;
}

.animationContainer {
  inset: 0;
  padding-bottom: 0;
}

.wrapper,
.sidebar,
.header,
.main {
  will-change: transform, width, grid-template-columns, backdrop-filter;
  transform: translateZ(0);
}
