.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  min-height: 100dvh;
}

/* 메인 */
.main {
  height: 100%;
  overflow: auto;

  position: relative;
}

.main section {
  width: 100%;
}

.contents {
  width: 100%;

  max-width: 1100px;

  margin: 0 auto;
  padding: 0 26px;
  position: relative;

  box-sizing: border-box;
}
