.addInputContainer {
  width: 100%;
  height: 55px;
  background-color: var(--bg-gray-color);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
}

.addInputContainer span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--font-gray-color);
}

.addInputContainer span svg {
  width: 20px;
  height: 20px;
  fill: white;
}
