.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  border: 1px solid rgb(229 231 235 / 0.5);
  box-shadow:
    0 10px 15px -3px rgb(229 231 235 / 0.5),
    0 4px 6px -4px rgb(229 231 235 / 0.5);
  padding: 30px 0px;
  row-gap: 11px;
}

.scoreContainer p {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.scoreContainer span {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.darkgray {
  color: var(--font-darkgray-color);
}

/* circle */
.circleContainer {
  width: 130px;
  height: 130px;
  position: relative;
  margin-top: 10px;
}

.circleText {
  display: flex;

  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  column-gap: 3px;
}

/* 중앙 점수 */
.circleText p {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

/* 점 */
.circleText span {
  font-size: 15px;
  font-weight: 400;
  color: var(--font-darkgray-color);
  margin-top: 4px;
}
