.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1200px;
  min-height: 100dvh;
  background-color: var(--bg-gray-color);
}

.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  flex: 1 0 auto;
  padding: 1.3rem 1.3rem 3rem 1.3rem;
  box-sizing: border-box;
}
