:root {
  --main-black-hover-color: #353a40;
  --main-gray-hover-color: #f3f4f6;
  --main-blue-hover-color: rgba(0, 73, 229, 0.771);
  --main-green-hover-color: rgb(220, 252, 231);
  --main-yellow-hover-color: rgba(255, 233, 25, 0.4);
  --main-red-hover-color: #cc5253;

  --main-yellow-color: rgba(255, 233, 25, 1);
  --main-red-color: rgb(240, 97, 109);
  --main-red2-color: rgb(255, 130, 140);
  --main-red3-color: rgb(200, 70, 80);

  --main-blue-color: rgb(76, 134, 254);
  --main-blue2-color: rgb(125, 166, 255);
  --main-blue3-color: rgb(45, 96, 200);
  --main-blue4-color: rgb(37, 99, 235);

  --main-skyblue-color: #06b6d4;
  --main-violet-color: #6366f1;
  --main-green-color: rgb(55, 179, 119);
  --main-gray-color: rgba(91, 97, 110, 0.7);

  --bg-gray-color: rgb(243, 244, 246);
  --bg-blue-color: #eceffb;
  --bg-red-color: rgba(219, 64, 64, 0.12);
  --bg-green-color: rgba(55, 179, 119, 0.2);
  --bg-violet-color: rgb(243, 232, 255);

  --bg-black-color: #242424;
  --border-main-color: rgb(209, 217, 224);
  --border-main2-color: #e5e7eb;
  --border-blue-color: rgb(191, 219, 254);

  --font-gray-color: #94a3b8;
  --font-darkgray-color: #64748b;
  --font-black-color: #334155;
  --font-green-color: rgb(22, 101, 52);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-pretendard);
  font-variant-numeric: tabular-nums;
  color: var(--font-black-color);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;

  border: none;
  background: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
