.questionListContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  row-gap: 10px;
  overflow-y: scroll;
}

.fixedContainer {
  width: 100%;
}

.questionItemContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
}

.bottomContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 25px;
  column-gap: 16px;
  padding: 0px 5px;
}

/* 111111111111 */
.questionItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: rgba(24, 25, 27, 1); */
  /* box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6); */

  background-color: rgba(51, 65, 85, 0.2);
  border: 1px solid rgba(71, 85, 105, 0.15);
  border-radius: 12px;
  padding: 14px 14px;
  cursor: pointer;
  row-gap: 7px;
}

.questionItem .bigText {
  font-size: 14px;
  font-weight: 700;
  color: white;
  opacity: 0.7;
}

.questionItem .text {
  font-size: 12px;
  line-height: 140%;
  color: rgb(153, 161, 175);
  opacity: 0.7;
}

.blueQuestionItem {
  background-color: rgba(64, 100, 199, 0.32);
  border: 1px solid rgba(36, 94, 253, 0.2);
}

.greenQuestionItem {
  background-image: linear-gradient(
    to right,
    rgba(20, 83, 45, 0.4),
    rgba(6, 78, 59, 0.4)
  );
  border: 1px solid rgba(22, 163, 74, 0.1);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.blueQuestionItem .text {
  color: white;
}

.blueQuestionItem .bigText {
  color: rgb(142, 197, 255);
}

.greenQuestionItem .bigText {
  color: rgb(185, 248, 207);
}

.greenQuestionItem .text {
  color: rgb(220, 252, 231);
}

/* 11111111111 */

.textWrapper {
  position: relative;
}

.fadeShadow {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 40px;

  background: linear-gradient(
    to bottom,
    rgba(24, 25, 27, 0),
    rgba(24, 25, 27, 1)
  );
}

.clamp {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* bottom 상태 */
.bottomStatus {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.bottomStatus .title {
  color: white;
  font-size: 12px;

  opacity: 0.7;
}

.bottomStatus .text {
  color: white;
  font-size: 12px;
  opacity: 0.7;
}
