.sidePanelContainer {
  background-color: rgba(24, 25, 27, 0.7);
  backdrop-filter: blur(20px);
  border: 0.5px solid rgba(255, 255, 255, 0.03);
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
  overflow: hidden;
  border-radius: 12px;
}

.sidePanelHeader {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  cursor: pointer;
}

.sidePanelTitle {
  font-weight: 600;
  font-size: 16px;
  color: white;
  opacity: 0.8;
}

.sidePanelContent {
  flex: 1;
  overflow-y: scroll;
}

.expanded {
  flex: 1;
}
