.button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--border-main2-color);

  border-radius: 6px;

  transition: all 0.1s ease-in-out;
}

.button p {
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}

.button svg {
  width: 14px;
  height: 14px;
  margin-top: 1px;
}

.button:hover {
  backdrop-filter: brightness(0.97);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.blue {
  background-color: var(--main-blue-color);
  border: 1px solid var(--main-blue-color);
}

.blue p {
  color: white;
}

.blue svg {
  fill: white;
}

.blue:hover {
  background-color: var(--main-blue-hover-color);
  border: 1px solid var(--main-blue-hover-color);
}

.black {
  background-color: var(--bg-black-color);
  color: white;
  border: 1px solid var(--bg-black-color);
}

.black p {
  color: white;
}

.black svg {
  fill: white;
}

.black:hover {
  background-color: var(--main-black-hover-color);
  border: 1px solid var(--main-black-hover-color);
}

.red {
  background-color: var(--main-red-color);
  color: white;
  border: 1px solid var(--main-red-color);
}

.red p {
  color: white;
}

.red svg {
  fill: white;
}

.red:hover {
  background-color: var(--main-red-hover-color);
  border: 1px solid var(--main-red-hover-color);
}
