.container {
  display: flex;
  flex-direction: column;
}

.topContainer,
.stageContainer {
  display: flex;
  justify-content: space-between;
}

/* 가장 위 */
.topContainer {
  margin: 0px 0px 15px 0px;
}

.topContainer p {
  font-size: 23px;
  font-weight: 800;
}

/* 오른쪽 상단 현재 텍스트 */
.topContainer div {
  display: flex;
  align-items: flex-end;
  color: var(--font-gray-color);
  font-size: 14px;
  font-weight: 500;
}

/* stage */
.stageContainer {
  height: 30px;
  margin-top: 15px;
}

.stage {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: var(--bg-black-color);

  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}

.circle p {
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.circle svg {
  width: 14px;
  height: 14px;
  fill: white;
}

.stageText {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: var(--font-darkgray-color);
}

.line {
  width: 65px;
  height: 2px;
  border: 1px solid var(--bg-gray-color);
  background-color: var(--bg-gray-color);
  border-radius: 30px;
  margin-left: 7px;
  transition: all 0.25s ease-in-out;
}

.barContainer {
  height: 11px;
  background-color: var(--bg-gray-color);
  border-radius: 30px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: var(--bg-black-color);
  border-radius: 30px;
  transition: width 0.5s ease-in-out;
}

.bottomContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .stageText {
    display: none;
  }

  .line {
    width: 40px;
  }
}

.current .stageText {
  color: var(--font-black-color);
  font-weight: 600;
}

.upcoming .circle {
  background-color: var(--bg-gray-color);
}

.upcoming .circle p {
  color: var(--font-darkgray-color);
}

.done .line {
  border: 1px solid var(--bg-black-color);
  background-color: var(--bg-black-color);
}
