.container {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  /* background: linear-gradient(360deg, transparent 15%, rgba(0, 82, 254, 0.15)); */
  background-color: var(--bg-gray-color);
}

.contentsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.topContainer,
.bottomContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.topContainer {
  height: 70px;
}

.bottomContainer {
  flex: 1;
}

.headerContainer,
.loginContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
}

.loginContainer {
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 19px;
  font-weight: 700;
}

.textContainer {
  margin-bottom: 20px;
  margin-top: 80px;
}

.welcomeText {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.mediumText {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  column-gap: 10px;
}

.buttonContainer a {
  flex: 1;
}

.loginButton {
  width: 100%;
  height: 42px;
  position: relative;
  border-radius: 9px;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.buttonLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 46px;
  position: absolute;

  left: 0;
  top: 0;
}

.loginButton svg {
  width: 28px;
  height: 28px;
}

.loginButton:hover {
  background-color: var(--main-gray-hover-color);
}

.loginButton:hover p {
  color: var(--font-black-color);
}

.loginBox {
  /* background-color: white; */
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 15px;
}
