.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--neutral-0);
  height: 100dvh;
}

.wrapper {
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  height: 100dvh;
  transition: grid-template-columns 0.3s var(--ease-out);
  overflow: hidden;
}

.sidebar {
  width: var(--sidebar-w);

  position: sticky;
  top: 0;
  height: 100dvh;

  z-index: 1;
  transition: width 0.3s var(--ease-out);

  align-self: start;
}

/* 컨텐츠 오른쪽 */
/* 메인 */
.main {
  height: 100%;
  background-color: var(--neutral-0);
  position: relative;

  overflow: auto;
  overflow-x: auto;
}

.main:has(.loading-lock) {
  overflow-x: hidden;
}

.header {
  position: sticky;
  left: 0;
  top: 0;

  height: 50px;
  width: 100%;
  z-index: 20;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(160%) blur(22px);
  -webkit-backdrop-filter: saturate(160%) blur(22px);

  will-change: backdrop-filter;
}

.contents,
.slideContents {
  max-width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 30px 36px 0 36px;
  position: relative;

  height: calc(100% - 50px);
  box-sizing: border-box;
  overflow-x: clip;
}

.animationContainer {
  inset: 0;
  padding-bottom: 0;
  overflow: clip;
}

.wrapper,
.sidebar,
.header,
.main {
  will-change: transform, width, grid-template-columns, backdrop-filter;
  transform: translateZ(0);
}
