.buttonContainer {
  width: 100%;
}

.buttonContainer button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 54px;

  border-radius: 12px;

  background: var(--red-bg-gradient);
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
}

.smallButton button {
  height: 45px;
}

.buttonText {
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
}

.smallButton .buttonText {
  font-size: 1rem;
  color: white;
}

.noshadow button {
  box-shadow: none;
}

.buttonContainer button:not(:disabled):hover,
.buttonContainer button:not(.noshadow):hover {
  box-shadow: var(--box-red-shadow);
}

.buttonContainer button:disabled {
  opacity: 0.5;
  pointer-events: none;
  box-shadow: var(--box-red-shadow);
}

/* blue button */
.buttonContainer.blue button {
  background: var(--main-blue4-color);
  transition: all 0.2s;
}

.buttonContainer.blue button:not(:disabled):hover,
.buttonContainer.blue button:not(.noshadow):hover {
  box-shadow: var(--box-blue-shadow);
}

.buttonContainer.blue button:disabled {
  opacity: 0.5;
  pointer-events: none;
  box-shadow: var(--box-blue-shadow);
}
