.headerContainer {
  height: 64px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  backdrop-filter: blur(16px);
  border-bottom: 1px solid var(--border-main3-color);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  height: 100%;
}

.itemContainer {
  display: flex;
  align-items: center;
  column-gap: 7px;
  position: relative;
}

.itemContainer svg {
  stroke: var(--main-red-color);
}

.itemContainer p {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-top: 1px;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  padding: 8px;
}

.loginButton svg {
  stroke: var(--main-gray-color);
}

.loginButton:hover {
  background-color: var(--main-gray-hover-color);
}

@media screen and (max-width: 1024px) {
  .headerContainer {
    padding: 0px 16px;
  }
}
