.container {
  width: 100%;
  position: relative;
  z-index: 3;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.textContainer p {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--main-blue4-color);
}

.textContainer span {
  font-size: 17px;
  line-height: 120%;
  text-align: center;
}
