.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  margin: 0px 10px;
  border-radius: 25px;
  row-gap: 8px;

  padding: 25px 22px 12px 22px;
  backdrop-filter: blur(24px);

  background-color: rgba(0, 0, 0, 0.55);

  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
}

.container p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: 150%;
  text-align: center;
}

.container span {
  color: white;
  font-size: 16px;
  text-align: center;
}
