.container {
  display: flex;

  column-gap: 12px;
  width: 100%;

  position: relative;
}

.status {
  height: 42px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  border-radius: 30px;

  padding: 0px 17px;
  backdrop-filter: blur(24px);

  background-color: rgba(0, 0, 0, 0.6);

  z-index: 10;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
}

.remainingTime {
  z-index: 1;
}

.status svg {
  width: 14px;
  height: 14px;
  font-size: 15px;
  font-weight: 600;
  fill: white;
}

.status p {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.status span {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.timeContainer {
  display: flex;
  column-gap: 15px;
  position: relative;
}

.timeContainer p {
  font-size: 19px;
  font-weight: 600;
  color: var(--main-blue2-color);
}

.circleContainer {
  position: relative;
  width: 20px;
  height: 20px;
}

.red {
  background-color: var(--main-red-color);
}

.blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(40%);
  }

  100% {
    filter: brightness(100%);
  }
}
