.container {
  width: 100%;
  min-height: 100dvh;

  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;

  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modalBox {
  width: calc(100% - 20px);
  max-width: 620px;
  height: 400px;
  background-color: white;

  border-radius: 18px;
  display: flex;
  overflow: hidden;
}

.headerTitleText {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.titleText {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
}

.explainText {
  font-size: 13px;
  font-weight: 600;
  color: var(--font-darkgray-color);
  margin-bottom: 5px;
}

.question {
  margin-bottom: 30px;
}

.question li {
  font-size: 12px;
  font-weight: 500;
  color: var(--font-darkgray-color);
  letter-spacing: -0.3px;
  line-height: 1.3;
  margin-bottom: 2px;
}
