.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 40px 0px 0px 0px;
}

.bigText {
  text-align: left;
  color: black;
  font-size: 42px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .bigText {
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: 700;
  }
}
