.container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 15px;
}

.titleContainer {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.titleContainer p {
  font-size: 26px;
  font-weight: 700;
}

.titleContainer svg {
  width: 23px;
  height: 23px;
  fill: var(--font-black-color);
}

.subTitleContainer {
  font-size: 15px;
  font-weight: 400;
  color: var(--font-gray-color);
}
