.container {
  display: flex;
  align-items: center;
  height: 40px;
  column-gap: 10px;
}

.container p {
  font-size: 17px;
  font-weight: 500;
}

.container span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-main-color);
  background-color: white;
}

.container span p {
  font-size: 13px;
  font-weight: 500;
}

.container span svg {
  width: 14px;
  height: 14px;
  fill: var(--font-gray-color);
}

/* isCompleted */
.isCompleted p {
  color: var(--main-green-color);
}

.isCompleted span {
  background-color: var(--main-green-hover-color);
  border: 1px solid var(--main-green-color);
}

.isCompleted span p {
  color: var(--main-green-color);
}

.isCompleted span svg {
  width: 14px;
  height: 14px;
  fill: var(--main-green-color);
}

/* isSelected */
.isSelected p {
  color: var(--font-black-color);
  font-weight: 600;
}

.isSelected span {
  background-color: var(--bg-black-color);
  border: none;
}

.isSelected span p {
  color: white;
}

.isSelected span svg {
  width: 16px;
  height: 16px;
  fill: white;
}
