.container {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-radius: 7px;
  padding: 25px 25px;
  border: 2px dashed var(--border-main-color);

  background-color: var(--bg-gray-color);
  row-gap: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.textContainer p {
  font-size: 28px;
  font-weight: 700;
}

.textContainer span {
  font-size: 15px;
  color: var(--font-darkgray-color);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.retryButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.resultContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 7px;
  padding: 30px 25px 40px 25px;
  row-gap: 14px;
}

.resultTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.resultContainer p {
  font-size: 24px;
  font-weight: 600;
}

.resultContainer span {
  font-size: 14px;
  font-weight: 500;
}

.recording {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--main-red-color);
  border-radius: 50%;
}

.recordingTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  margin-top: 10px;
}

.resultContainer p {
  font-size: 20px;
  font-weight: 500;
}

.resultContainer span {
  font-size: 14px;
  font-weight: 500;
}

.green {
  background-color: var(--bg-green2-color);
}

.green svg {
  stroke: var(--main-green-color);
}
.green p {
  color: var(--font-green-color);
}

.green span {
  color: var(--main-green-color);
}

.red {
  background-color: var(--bg-red2-color);
}

.red svg {
  stroke: var(--main-red-color);
}
.red p {
  color: var(--font-red-color);
}

.red span {
  color: var(--main-red-color);
}

.blue {
  background-color: var(--bg-blue-color);
}

.blue svg {
  stroke: var(--main-blue-color);
}
.blue p {
  color: var(--main-blue3-color);
}

.blue span {
  color: var(--main-blue-color);
}
