.textContainer {
  position: fixed;
  bottom: 0%;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;
  margin-bottom: 120px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.welcomeTextContainer {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.textContainer p {
  font-size: 40px;
  font-weight: 700;
  color: lightgray;
}

.welcomeTextContainer p {
  font-size: 48px;
  font-weight: 700;
  color: gray;
}
