.container {
  flex: 1;
  width: 100%;

  position: relative;
}

.headerContainer {
  height: 50px;
}

.itemListContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-blue-color);

  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  padding: 20px 20px 0px 20px;
}

.titleContainer p {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-blue3-color);
}

.titleContainer span {
  font-size: 13px;
  color: var(--font-darkgray-color);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.info {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoLeft {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.infoLeft svg {
  width: 14px;
  height: 14px;
  fill: var(--main-blue-color);
}

.infoLeft p {
  font-size: 14px;
  font-weight: 600;
}

.infoStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: var(--bg-blue-color);
  border: 1px solid var(--main-blue2-color);

  padding: 5px 10px;
  border-radius: 20px;
}

.infoStatus p {
  font-size: 11px;
  font-weight: 600;
  color: var(--main-blue-color);
}

.buttonContainer {
  height: 40px;
  margin: 0px 20px 20px 20px;
}

.buttonContainer button {
  width: 100%;
  height: 36px;
  background-image: linear-gradient(to right, #6366f1, #6366f1 20%, #3b82f6);
  font-weight: 600;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  border: 0.6px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s;
}

.buttonContainer button:disabled {
  opacity: 0.4;
  cursor: auto;
}

.buttonContainer button:not(:disabled):hover {
  filter: brightness(85%);
}
