.container {
  display: flex;

  column-gap: 15px;
  width: 100%;

  position: relative;
  background-color: white;
  border: 1px solid var(--border-blue-color);

  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.container:not(.selected):hover {
  outline: 2px solid var(--main-blue2-color);
  outline-offset: 2px;
  transition: all 0.1s;
}

.container:hover {
  outline: 2px solid var(--main-blue4-color);
  outline-offset: 2px;
  transition: all 0.1s;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: 25px;
}

.statusContainer {
  display: flex;
  column-gap: 10px;
}

.timeContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.timeContainer svg {
  width: 11px;
  height: 11px;
  fill: var(--font-gray-color);
}

.timeContainer p {
  font-size: 12px;
  font-weight: 400;
  color: var(--font-gray-color);
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 30px;
  padding: 1px 9px;
  border: 1px solid var(--border-blue-color);
  font-size: 11px;
  font-weight: 600;
}

.violet {
  border: 1px solid var(--main-violet-color);
  background-color: var(--bg-violet-color);
  color: var(--main-violet-color);
}

.green {
  border: 1px solid var(--main-green-color);
  background-color: var(--bg-green-color);
  color: var(--font-green-color);
}

.leftContainer {
  width: 22px;
  background-color: var(--bg-blue-color);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px 15px 15px 0px;
}

.textContainer {
  display: flex;
  flex-direction: column;

  row-gap: 5px;
}

.textContainer p {
  font-size: 18px;
  font-weight: 600;
}

.textContainer span {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-gray-color);
}

.selected {
  outline-offset: -2px;
  outline: 2px solid var(--main-blue4-color);
}

.selected .leftContainer {
  width: 22px;
  background-color: var(--main-blue4-color);
}
