.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.tableContainer {
  display: flex;
  width: calc(100% - 40px);
  max-width: 1200px;
  min-height: 500px;
  column-gap: 20px;
}

.tableOptionsContainer {
  width: 250px;
  height: min-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding-top: 0px;
  position: sticky;
  top: 115px;
}

.questionListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  row-gap: 10px;
}

.answer {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
