.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.camera {
  position: relative;
  overflow: hidden;

  width: 1000px;
  height: 500px;

  border-radius: 24px;

  box-shadow: var(--shadow-md);
  background-color: var(--neutral-1);
  isolation: isolate;
}

.buttons {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 1000px;
  height: 50px;
  background-color: var(--neutral-2);
  box-shadow: var(--shadow-md);
  border-radius: 12px;
}

.buttons button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: var(--neutral-4);
  border-radius: 12px;
}
