.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: white;
  position: relative;
}

.webcamContainer {
  width: 100%;
  max-width: 700px;
  position: relative;
}

.loadingContainer {
  max-width: 1200px;
  background-color: wheat;
  position: relative;
}

.hiddenVideo {
  width: 100%;
  display: none;
  position: relative;
}

.drawCanvas {
  width: 100%;
  position: relative;
  border-radius: 18px;
}

.overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.resultVideo {
  transform: scale(-1, 1);
}

.resultVideo::-webkit-media-controls-panel {
  transform: scale(-1, 1);
}

.webcamContainer button {
  padding: 10px;
  margin: 0px 5px;
  background-color: lightblue;
}
