.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: white;
  position: relative;
}

.webcamContainer {
  max-width: 600px;
  background-color: blue;
  position: relative;
  border: 3px solid white;
}

.loadingContainer {
  max-width: 600px;
  background-color: wheat;
  position: relative;
  border: 3px solid white;
}
