.loadingItemContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--border-main2-color);

  row-gap: 15px;

  user-select: none;
  opacity: 0.8;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
}

.leftItem {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  flex: 1;
  min-width: 0;
}

.circleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: var(--bg-rose-color);
  font-size: 0.8rem;
  font-weight: 700;

  text-align: center;
  color: var(--font-red-color);
  overflow: hidden;

  transition: all 0.2s;
}

.titleText {
  flex: 1;
  font-size: 1.1rem;
  line-height: 130%;
  font-weight: 500;
  word-break: break-word;
  overflow-wrap: anywhere;
  max-width: 100%;
}

.bottomContainer {
  border-left: 2px solid var(--bg-gray-color);
  margin: 0px 0px 0px 40px;
  padding-left: 12px;
  transition: all 0.2s;
}

.bottomContainer p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--font-darkgray-color);
}
