.section {
  margin-bottom: 20px;
}

.titleText {
  font-size: 17px;
  font-weight: 700;
}

.requiredText {
  font-size: 17px;
  font-weight: 700;
  color: var(--main-red-color);
  margin-left: 5px;
}

.helpButton {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1.5px solid var(--main-gray-color);
  margin-left: 15px;
  font-size: 11px;
  font-weight: 800;
  color: var(--main-gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.titleTextContainer {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.explainText {
  font-size: 14px;
  font-weight: 600;
  color: var(--font-darkgray-color);
  margin-bottom: 12px;
}

.optionTypeContainer {
  display: flex;
  column-gap: 10px;
}

.optionTypeContainer .optionType {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border: 1px solid var(--border-main-color);
  border-radius: 50px;

  column-gap: 5px;
  padding: 0px 13px 0px 9px;
  position: relative;
}

.optionType .optionLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionTypeContainer p {
  font-size: 15px;
  font-weight: 600;
}

.inputContainer {
  width: 280px;
  height: 42px;
  border: 1px solid var(--border-main-color);
  border-radius: 12px;
  overflow: hidden;
  padding: 0px 12px;
}

.inputContainer input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 15px;
  font-weight: 500;
  outline: none;
}

.inputContainer input::placeholder {
  color: var(--font-gray-color);
}

.textareaContainer {
  border: 1px solid var(--border-main-color);
  border-radius: 12px;
  padding: 12px;
  height: 80px;
}

.textareaContainer textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 500;
  resize: none;
}

.textareaContainer textarea::placeholder {
  color: var(--font-gray-color);
  font-size: 17px;
  font-weight: 500;
}

.inputContainer:focus-within {
  outline: 2px solid var(--main-blue-color);
  outline-offset: -1px;
}

.textareaContainer:focus-within {
  outline: 2px solid var(--main-blue-color);
  outline-offset: -1px;
}
