.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  row-gap: 15px;
}

.camera {
  flex: 1;
  position: relative;

  overflow: hidden;
  border-radius: 22px;
}

.controller {
  width: 100%;
  height: fit-content;
  min-height: 160px;
  background: var(--dark-opacity-bg);
  border-radius: 22px;
  box-shadow: var(--shadow-sm);
  padding: 22px 25px;
}

.questionOrder {
  text-align: start;
  color: var(--color-primary);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.questionText {
  text-align: start;
  color: var(--neutral-4);
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}
