.bg {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 200;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderContents {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 600px;
  padding: 80px 20px;
}

.contents h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--neutral-1);
  margin-bottom: 12px;
  text-align: center;
}

.contents strong {
  color: var(--primary);
}

.contents span {
  line-height: 1.3;
  font-size: 19px;
  color: var(--neutral-4);
  text-align: center;
}

.loader {
  width: 80px;
  height: 80px;
}

.loader svg {
  width: 100%;
  height: 100%;
  stroke: var(--neutral-3);
  animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.statuses {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 50px;
}

.statusItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--neutral-7);
  border-radius: 8px;
  padding: 0px 15px;
  height: 50px;
}

.statusItem span {
  font-size: 16px;
  color: var(--neutral-2);
}

.statusItem .statusRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--neutral-3);
}
.statusItem .statusRight svg {
  width: 20px;
  height: 20px;
  width: 100%;
  height: 100%;
  animation: rotate 1.1s linear infinite;

  stroke: var(--neutral-3);
}

.statusRight button {
  padding: 6px 12px;
  background-color: var(--primary);
  color: var(--neutral-1);
  border-radius: 6px;
  font-size: 14px;
  transition: filter 0.1s ease;
}

.statusRight button:hover {
  filter: brightness(90%);
}

.statusDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}
