.sidebar {
  width: 100%;
}

/* "질문 목록" */
.listHeader {
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-6);
  margin: 35px 16px 10px 17px;
  white-space: nowrap;
}

/* ol */
.list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  margin: 0px 6px;
}

/* item */
.selected {
  background-color: color-mix(in srgb, var(--color-primary) 12%, white 70%);
}

.question {
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;
  border-radius: 12px;
  cursor: pointer;

  column-gap: 8px;
  padding: 8px 1px 8px 1px;

  overflow: hidden;
  transition: background-color 0.12s;
}

.question:not(.selected):hover {
  background-color: var(--neutral-3);
}

/*  title */
.questionTitle {
  display: flex;
  align-items: center;

  height: 25px;

  border-radius: 7px;

  padding: 0px 10px;
  column-gap: 9px;
  overflow: hidden;
}

/* 질문 번호 */
.questionOrder {
  font-size: 14px;
  font-weight: 700;
  color: var(--neutral-6);
  flex: 0 0 auto;
  text-align: start;
}

.questionText {
  font-size: 14px;
  font-weight: 500;

  color: var(--neutral-7);

  font-weight: 500;

  white-space: nowrap;
  text-overflow: ellipsis;

  flex: 1 1 auto;
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.questionFullText {
  font-size: 14px;
  font-weight: 500;
  padding: 3px 10px 3px 10px;
  text-align: start;
  color: var(--neutral-7);
}

.selected .questionOrder {
  color: var(--color-primary);
}

.selected .questionFullText {
  color: var(--color-primary);
}

.submitted .questionText {
  color: var(--neutral-5);
}
.submitted .questionFullText {
  color: var(--neutral-5);
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  min-width: 46px;
  padding: 0 8px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  color: var(--neutral-1);
  background: color-mix(in srgb, var(--color-primary) 80%, black 2%);
}

.submitted .badge {
  background: color-mix(in srgb, var(--neutral-3) 90%, white 30%);
  color: var(--neutral-6);
}

html[data-sidebar-size='mini'] .questionFullText {
  display: none;
}

html[data-sidebar-size='mini'] .questionOrder {
  width: 100%;
  text-align: center;
}

html[data-sidebar-size='mini'] .questionTitle {
  width: 100%;
  text-align: center;
}

html[data-sidebar-size='mini'] .listHeader {
  height: 17px;
  visibility: hidden;
}

html[data-sidebar-size='mini'] .badge {
  display: none;
}
