.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--neutral-0);
  min-height: 100dvh;
}

.wrapper {
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  min-height: 100dvh;
  transition: grid-template-columns 0.2s;
}

.sidebar {
  width: var(--sidebar-w);

  position: sticky;
  align-self: start;
  top: 0;
  height: 100dvh;
  overflow: hidden;
  z-index: 1;
  transition: width 0.2s;
}

/* 컨텐츠 오른쪽 */
/* 메인 */
.main {
  height: 100%;

  background-color: var(--neutral-0);
  position: relative;
}

.contents {
  max-width: 1000px;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 36px;
}

.test {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 40px;
  padding-bottom: 40px;
}

.header {
  position: sticky;
  left: 0;
  top: 0;

  height: 50px;
  width: 100%;
  z-index: 20;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: saturate(160%) blur(22px);
  -webkit-backdrop-filter: saturate(160%) blur(22px);

  will-change: backdrop-filter;
}

html[data-sidebar-size='mini'] .sidebar {
  background-color: var(--neutral-0);
}
