.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.header {
  height: 50px;
  width: 100%;
  background-color: red;
}

.icon {
  width: 66px;
  height: 66px;
  color: var(--neutral-4);
  margin-bottom: 30px;
}

.container h1 {
  color: var(--neutral-5);
  margin-bottom: 12px;
}

.container h4 {
  color: var(--neutral-4);
  font-size: 17px;
  font-weight: 500;
}

.buttons {
  margin-top: 30px;
}
